.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.subheader-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.icon {
    width: 32px;
    height: 32px;
}

.index-blurb-container {
    /* display: flex; */
    justify-content: center;
    text-align: center;
}

.poppins-header {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(28px, 8vw, 72px);
}

.poppins-tagline {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.arimo-medium {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero-container {
    background-image: url("assets/index-background-peakdistrict.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1, h2 {
    color: white;
}

@media (max-width: 600px) {
    .arimo-medium {
        line-height: 1.6;
    }
}

